@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #e4e9f7
  ;
  --primary-color-light: #cecece;
  --toggle-color: #ddd;
  --text-color: #707070;
  --light: #d8dbe0;
  --dark: #28292c;
  z-index: 1;
  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

/* footer */
.footer-container {
  background: var(--sidebar-color);
  color:var(--text-color);
 
}

/* fondo dinamico */
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background:#725afc
;
  overflow: hidden;
  z-index: -1;
}
.background .box {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #8D79FF;
  animation: animate 34s linear infinite;
}

.background .box:nth-child(0) {
  left: 52%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 1s;
}
.background .box:nth-child(1) {
  left: 54%;
  width: 96px;
  height: 96px;
  bottom: -96px;
  animation-delay: 4s;
}
.background .box:nth-child(2) {
  left: 20%;
  width: 5px;
  height: 5px;
  bottom: -5px;
  animation-delay: 7s;
}
.background .box:nth-child(3) {
  left: 84%;
  width: 128px;
  height: 128px;
  bottom: -128px;
  animation-delay: 4s;
}
.background .box:nth-child(4) {
  left: 78%;
  width: 25px;
  height: 25px;
  bottom: -25px;
  animation-delay: 5s;
}
.background .box:nth-child(5) {
  left: 81%;
  width: 45px;
  height: 45px;
  bottom: -45px;
  animation-delay: 2s;
}
.background .box:nth-child(6) {
  left: 62%;
  width: 19px;
  height: 19px;
  bottom: -19px;
  animation-delay: 20s;
}
.background .box:nth-child(7) {
  left: 68%;
  width: 66px;
  height: 66px;
  bottom: -66px;
  animation-delay: 32s;
}
.background .box:nth-child(8) {
  left: 80%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 38s;
}
.background .box:nth-child(9) {
  left: 35%;
  width: 106px;
  height: 106px;
  bottom: -106px;
  animation-delay: 2s;
}
.background .box:nth-child(10) {
  left: 52%;
  width: 19px;
  height: 19px;
  bottom: -19px;
  animation-delay: 29s;

}


/* Carrousel - skills */

.content-all{
  position: relative;
}

.content-carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 70s infinite linear;
  transform-style: preserve-3d;
}


.content-carrousel #span-skill{
  
  transition: all 900ms;
  border-radius: 10%;
  background-color: var(--primary-color-light);
  overflow: hidden;
  position: absolute;
  transition: all 300ms;

  
}


.content-carrousel #span-skill:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel #span-skill:nth-child(9){transform: rotateY(320deg) translateZ(300px);}


.content-carrousel #skill-img{
  transition: all 300ms;

} 
#skill-img:hover{
  transform: scale(1.2);
  transition: all 300ms;
  cursor: auto;

}

@keyframes rotar{
  from{
      transform: rotateY(0deg);
  }to{
      transform: rotateY(360deg);
  }
}



